/* Estilos.css */

/* Cor de fundo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#f5e6da;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #a33400; /* Cor do título */
}

/* Estilos para os inputs */
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc; /* Cor da borda */
}

/* Estilo para o botão */
button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #a33400; /* Cor do botão */
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transição suave de cor */
}

/* Estilo para o botão em hover */
button:hover {
    background-color: #8c2d00; /* Cor do botão em hover */
    cursor: pointer;
}
